<div class="container intro-container">
  <h3>{{ site.about_title | default: "About Me" }}</h3>
  <div class="row clearfix">
    {%- if site.about_profile_image -%}
      <div class="col-xs-12 col-sm-4 col-md-3 no-print">
        <img style="width: 1px; height: 1px; visibility: hidden; position: absolute; top: 0; left: 0; " src="{{ site.about_profile_image | relative_url }}" alt="" />
        <span class="profile-img" style="background-image: url({{ site.about_profile_image | relative_url }})" />
      </div>
    {%- endif -%}
    <div class="{{ 'col-xs-12 ' }}{%- if site.about_profile_image -%}col-sm-8 col-md-9 col-print-12{%- endif -%}">
      {{ site.about_content | strip | markdownify }}
      <div class="printable">{{ site.about_additional_info | strip | markdownify }}</div>
    </div>
  </div>
</div>
