---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "modern-resume-theme";

strong {
  font-weight: 500;
}

.container {
  page-break-inside: avoid;
}

.printable {
  display: none;
}

@media print {
  mark {
    font-weight: bold;
  }

  .printable {
    display: inherit;
  }
}
